<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TERA_2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TERA_2016.dbSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TERA_2016.Properties.Settings>
            <setting name="rootConnectionString" serializeAs="String">
                <value>UserId=root;Server=localhost;Password=;CharacterSet=cp1251;</value>
            </setting>
            <setting name="isTestApp" serializeAs="String">
                <value>True</value>
            </setting>
        </TERA_2016.Properties.Settings>
        <TERA_2016.dbSettings>
            <setting name="dbName" serializeAs="String">
                <value>db_tera</value>
            </setting>
            <setting name="selectRoles" serializeAs="String">
                <value>SELECT roles.id, roles.name FROM roles
  ORDER BY roles.id ASC</value>
            </setting>
            <setting name="selectActiveUsersJoinedRoles" serializeAs="String">
                <value>  select users.id, users.last_name, users.name, users.third_name, users.employee_number, users.password, roles.name as role_name from users LEFT JOIN roles ON (users.role_id = roles.id) WHERE users.is_active = 1 AND users.role_id &gt; 1 
  ORDER BY users.last_name ASC</value>
            </setting>
            <setting name="insertUser" serializeAs="String">
                <value>INSERT INTO users (users.last_name, users.name, users.third_name, users.password, users.employee_number, users.role_id, users.is_active) VALUES("{0}","{1}","{2}","{3}",{4},{5}, 1)</value>
            </setting>
            <setting name="hideUsers" serializeAs="String">
                <value>UPDATE users SET users.is_active = 0 
	WHERE users.id IN({0})</value>
            </setting>
            <setting name="updateUserWithPassword" serializeAs="String">
                <value>UPDATE users SET users.name = "{1}", users.last_name = "{2}", users.third_name = "{3}", users.employee_number = {4}, users.role_id = {5}, users.password = "{6}" WHERE users.id IN({0})</value>
            </setting>
            <setting name="updateUserWithoutPassword" serializeAs="String">
                <value>UPDATE users SET users.name = "{1}", users.last_name = "{2}", users.third_name = "{3}", users.employee_number = {4}, users.role_id = {5} WHERE users.id IN({0})</value>
            </setting>
        </TERA_2016.dbSettings>
    </applicationSettings>
</configuration>