<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TERA_2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TERA_2016.dbSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TERA_2016.measureSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TERA_2016.Properties.Settings>
            <setting name="rootConnectionString" serializeAs="String">
                <value>UserId=root;Server=localhost;Password=;CharacterSet=cp1251;</value>
            </setting>
            <setting name="isTestApp" serializeAs="String">
                <value>True</value>
            </setting>
        </TERA_2016.Properties.Settings>
        <TERA_2016.dbSettings>
            <setting name="dbName" serializeAs="String">
                <value>db_tera</value>
            </setting>
            <setting name="selectRoles" serializeAs="String">
                <value>SELECT roles.id, roles.name FROM roles
  ORDER BY roles.id ASC</value>
            </setting>
            <setting name="selectActiveUsersJoinedRoles" serializeAs="String">
                <value>  select users.id, users.last_name, users.name, users.third_name, users.employee_number, users.password, roles.name as role_name from users LEFT JOIN roles ON (users.role_id = roles.id) WHERE users.is_active = 1 AND users.role_id &gt; 1 
  ORDER BY users.last_name ASC</value>
            </setting>
            <setting name="insertUser" serializeAs="String">
                <value>INSERT INTO users (users.last_name, users.name, users.third_name, users.password, users.employee_number, users.role_id, users.is_active) VALUES("{0}","{1}","{2}","{3}",{4},{5}, 1)</value>
            </setting>
            <setting name="hideUsers" serializeAs="String">
                <value>UPDATE users SET users.is_active = 0 
	WHERE users.id IN({0})</value>
            </setting>
            <setting name="updateUserWithPassword" serializeAs="String">
                <value>UPDATE users SET users.name = "{1}", users.last_name = "{2}", users.third_name = "{3}", users.employee_number = {4}, users.role_id = {5}, users.password = "{6}" WHERE users.id IN({0})</value>
            </setting>
            <setting name="updateUserWithoutPassword" serializeAs="String">
                <value>UPDATE users SET users.name = "{1}", users.last_name = "{2}", users.third_name = "{3}", users.employee_number = {4}, users.role_id = {5} WHERE users.id IN({0})</value>
            </setting>
            <setting name="selectMaterials" serializeAs="String">
                <value>SELECT * FROM isolation_materials</value>
            </setting>
            <setting name="selectCameraTypes" serializeAs="String">
                <value>SELECT * FROM camera_types</value>
            </setting>
            <setting name="selectBringingTypes" serializeAs="String">
                <value>SELECT * FROM bringing_types</value>
            </setting>
            <setting name="selectDeviceBySerial" serializeAs="String">
                <value>SELECT * FROM devices WHERE serial_number = "{0}"</value>
            </setting>
            <setting name="insertDevice" serializeAs="String">
                <value>INSERT INTO devices (serial_number) VALUES ("{0}")</value>
            </setting>
            <setting name="updateRangeAndVoltageCoeffs" serializeAs="String">
                <value>UPDATE devices SET devices.zero_range_coeff = {1}, devices.first_range_coeff = {2}, devices.second_range_coeff = {3}, devices.third_range_coeff = {4}, devices.third_range_additional_coeff = {5}, devices.one_hundred_volts_coeff = {6}, devices.five_hundred_volts_coeff = {7}, devices.thousand_volts_coeff = {8}, devices.coeffs_check_sum = {9} WHERE devices.serial_number IN("{0}")</value>
            </setting>
        </TERA_2016.dbSettings>
    </applicationSettings>
    <userSettings>
        <TERA_2016.measureSettings>
            <setting name="polarizationDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dischargeDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="averagingTimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isCycleMeasure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cycleTimes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="temperature" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="voltage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bringingLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="externalCameraDiameter" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="internalCameraDiameter" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="bringingTypeId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="materialTypeId" serializeAs="String">
                <value>1</value>
            </setting>
        </TERA_2016.measureSettings>
    </userSettings>
</configuration>